<div class="language-menu__wrapper">

    <button
        class="language-menu-btn"
        [ngClass]="{'open': isOpen }"
        (click)="handleOpen()">
        <div>
            <img class="icon" [src]="langIcon" alt="">
        </div>
        {{current | titlecase}}
    </button>

    <ng-conteiner class="language-menu__bg" [ngClass]="{'open': isOpen }">
        <lms-interface-language-choice
                [current]="current"
                (changed)="onChanged($event)"
                [languages]="languages">
        </lms-interface-language-choice>
    </ng-conteiner>
</div>
