<main class="main">

    <section class="furniture-collection collection ">
    </section>
    <div class="container__big">
        <div class="collection__slider swiper">
            <div class="collection__wrapper swiper-wrapper ">

                <div class="collection__slide swiper-slide">
                    <div class="collection__wrapper-flex">
                        <img class="collection__image collection__image_1" src="/assets/images/1 page/chair-ai_2.jpg">

                        <div class="collection__body">
                            <div class="collection__title title">Furniture
                                collection</div>
                            <div class="collection__text text">Deep v you probably haven't heard of them banh mi
                                synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collection__slide swiper-slide">
                    <div class="collection__wrapper-flex">
                        <img class="collection__image collection__image_1" src="/assets/images/1 page/chair-ai_3.jpg">

                        <div class="collection__body">
                            <div class="collection__title title">Furniture
                                collection</div>
                            <div class="collection__text text">Deep v you probably haven't heard of them banh mi
                                synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collection__slide swiper-slide">
                    <div class="collection__wrapper-flex">
                        <img class="collection__image collection__image_2" src="/assets/images/1 page/png/SliderChair.png">

                        <div class="collection__body">
                            <div class="collection__title title">Furniture
                                collection</div>
                            <div class="collection__text text">Deep v you probably haven't heard of them banh mi
                                synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="collection-new">
            <div class="container__big">
                <h4 class="collection-new__title title">Furniture new collection</h4>
                <p class="collection-new__text">Deep v you probably haven't heard of them banh mi synth actually
                    affogato. Aesthetic lyft ethical drinking vinegar austint
                </p>
                <div class="collection-new__items">
                    <div class="collection-new__item">
                        <img src="/assets/images/1 page/jpg/container2.jpg" alt="" class="collection-new__image">
                        <div class="collectin-new__info info__new">
                            <div class="info__new-titel title">Truffaut literally trust</div>
                            <div class="info__new-text">Living room furntiture | Chair</div>
                        </div>

                    </div>
                    <div class="collection-new__item">
                        <img src="/assets/images/1 page/jpg/placeholder5.jpg" alt="" class="collection-new__image">
                        <div class="collectin-new__info info__new">
                            <div class="info__new-titel title">Truffaut literally trust</div>
                            <div class="info__new-text">Living room furntiture | Chair</div>
                        </div>

                    </div>

                    <div class="collection-new__item">
                        <img src="/assets/images/1 page/jpg/container4.jpg" alt="" class="collection-new__image">
                        <div class="collectin-new__info info__new">
                            <div class="info__new-titel title">Truffaut literally trust</div>
                            <div class="info__new-text">Living room furntiture | Chair</div>
                        </div>

                    </div>
                    <div class="collection-new__item">
                        <img src="/assets/images/1 page/jpg/placeholder3.jpg" alt="" class="collection-new__image">
                        <div class="collectin-new__info info__new">
                            <div class="info__new-titel title">Truffaut literally trust</div>
                            <div class="info__new-text">Living room furntiture | Chair</div>
                        </div>

                    </div>
                    <div class="collection-new__item">
                        <img src="/assets/images/1 page/jpg/container.jpg" alt="" class="collection-new__image">
                        <div class="collectin-new__info info__new">
                            <div class="info__new-titel title">Truffaut literally trust</div>
                            <div class="info__new-text">Living room furntiture | Chair</div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <section class="aesthetic">
            <div class="container__big">
                <div class="aesthetic__inner">
                    <img src="/assets/images/1 page/jpg/Mask.jpg" alt="" class="aesthetic__image">
                    <div class="aesthetic__info">
                        <div class="aesthetic__info-body">
                            <div class="aesthetic__info-title title">Aesthetic
                                ethical drinking</div>
                            <div class="aesthetic__info-text">Deep v you probably haven't heard of them banh mi
                                synth actually affogato. Artlyft ethical the one drinking vinegar austint
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="how">
            <div class="container">
                <div class="how__title title">How it works</div>
                <div class="how__body">
                    <div class="how__body-blocks">
                        <div class="how__body-block how__block1">

                            <div class="how__block-items">
                                <img class="how__block-image" src="/assets/images/1 page/svg/003-graphic tool.svg"
                                    alt="">
                                <div class="how__block-title title">Designer Consultation</div>
                            </div>

                            <div class="how__block-text">Kinfolk scenester authentic craft beer truffaut irony
                                intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral
                                cliche</div>
                        </div>
                        <div class="how__body-block how__block2">
                            <div class="how__block-items">
                                <img class="how__block-image" src="/assets/images/1 page/svg/002-sofa.svg" alt="">
                                <div class="how__block-title title">Production</div>
                            </div>

                            <div class="how__block-text">Everyday carry actually neutra authentic kogi shabby chic
                            </div>
                        </div>
                        <div class="how__body-line">
                            <img class="body-line__image" src="/assets/images/1 page/svg/timeline.svg" alt="">
                        </div>
                        <div class="how__body-block how__block3">
                            <div class="how__block-items">
                                <img class="how__block-image" src="/assets/images/1 page/svg/028-measuring tape.svg"
                                    alt="">
                                <div class="how__block-title title">Measurements</div>
                            </div>

                            <div class="how__block-text">Intelligentsia YOLO lomo bushwick coloring book. Semiotics
                                man bun venmo viral cliche</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <app-furniture-collection></app-furniture-collection>

        <section class="blog">
            <div class="container">
                <div class="blog__title title">More inspiration ideas in our blog</div>
                <div class="blog__items">
                    <div class="blog__item">
                        <img src="/assets/images/1 page/jpg/blog1.jpg" alt="" class="blog__item-image">
                        <div class="blog__item-links">
                            <a href="" class="blog__item-link date">March 12, 2020</a>|
                            <a href="" class="blog__item-link autor">by Ann Summers</a>|
                            <a href="" class="blog__item-link interior">Inrerior </a>
                        </div>
                        <div class="blog__item-text title">Listicle actually selvage activated charcoal for the drinking vinegar </div>
                    </div>
                    <div class="blog__item">
                        <img src="/assets/images/1 page/jpg/blog2.jpg" alt="" class="blog__item-image">
                        <div class="blog__item-links">
                            <a href="" class="blog__item-link date">September 28,2020</a>|
                            <a href="" class="blog__item-link autor">by Finnagan Morningstar</a>|
                            <a href="" class="blog__item-link interior">Dining room interior </a>
                        </div>
                        <div class="blog__item-text title">Red selfies edison bulb four dollar toast humblebrag</div>
                    </div>
                </div>

            </div>
        </section>


    </div>
</main>