<div class="wrapper">

    <main class="main">

         <app-breadcrumbs></app-breadcrumbs>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48367.841672151015!2d-122.47263095588542!3d37.78635368134926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580f18d8c6ea7%3A0x5d7f53fb70a3a903!2zNzI1IEdyZWVuIFN0LCBTYW4gRnJhbmNpc2NvLCBDQSA5NDEzMywg0KHQqNCQ!5e0!3m2!1sru!2sua!4v1657971242078!5m2!1sru!2sua"
                width="100%" height="704" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <section class="contact">
            <div class="container">

                <div class="contact__block-1">
                    <h4 class="contact__title title">Contact Us</h4>
                </div>
                <div class="contact__block-2">
                    <div class="contact__social social">
                        <a href="" class="social__link"><img src="assets/images/4page/svg/Facebook.svg" alt=""
                                class="link__img"></a>
                        <a href="" class="social__link"><img src="assets/images/4page/svg/Instagram.svg" alt=""
                                class="link__img"></a>
                        <a href="" class="social__link"><img src="assets/images/4page/svg/Pinterest.svg" alt=""
                                class="link__img"></a>
                        <a href="" class="social__link"><img src="assets/images/4page/svg/Twitter.svg" alt=""
                                class="link__img"></a>
                        <a href="" class="social__link"><img src="assets/images/4page/svg/Whatsapp.svg" alt=""
                                class="link__img"></a>
                    </div>
                    <div class="contact__text">Vexillologist vape microdosing freegan pork belly deep v direct trade
                        cray single-origin coffee street art. Viral shaman mustache master cleanse, pour-over affogato
                        poutine copper mug marfa fanny pack normcore. Lo-fi pop-up banjo portland, echo park hammock
                    </div>
                    <div class="contact__number">(415) 829-7934</div>
                    <div class="contact__adress">725 Green St <br>
                        San Francisco, California(CA), 94133</div>
                    <!-- <div class="contact__mail">ouremailaddress@email.com</div> -->
                    <form action="" class="contact__form forms">


                        <input type="text" placeholder="Your name" class="forms__name contact__form-name">
                        <input type="text" placeholder="Your e-mail" class="forms__mail contact__form-mail">
                        <textarea type="text" placeholder="Your comment"
                            class="forms__comment contact__form-comment"></textarea>

                        <button class="forms__btn contact__btn">Submit</button>

                    </form>
                </div>


            </div>
        </section>



        <div class="contact__slider swiper">
            <div class="contact__wrapper swiper-wrapper">
                <div class="contact__slide swiper-slide">
                    <img src="assets/images/6page/jpg/container (1).jpg" alt="">
                    <img src="assets/images/6page/jpg/container (2).jpg" alt="">
                    <img src="assets/images/6page/jpg/container.jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder.jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (1).jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (2).jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (3).jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (4).jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (5).jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (6).jpg" alt="">

                </div>
                <div class="contact__slide swiper-slide">
                    <img src="assets/images/6page/jpg/container (1).jpg" alt="">
                    <img src="assets/images/6page/jpg/container (2).jpg" alt="">
                    <img src="assets/images/6page/jpg/container.jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder.jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (1).jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (2).jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (3).jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (4).jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (5).jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (6).jpg" alt="">

                </div>
                <div class="contact__slide swiper-slide">
                    <img src="assets/images/6page/jpg/container (1).jpg" alt="">
                    <img src="assets/images/6page/jpg/container (2).jpg" alt="">
                    <img src="assets/images/6page/jpg/container.jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder.jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (1).jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (2).jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (3).jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (4).jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (5).jpg" alt="">
                    <img src="assets/images/6page/jpg/placeholder (6).jpg" alt="">

                </div>
            </div>
            <div class="contact__slide-pagination"></div>

        </div>

    </main>

</div>