<div class="wrapper">
    <div class="container">
        <div class="about">
            <span class="title ">Front-End</span>
            <div class="text-effect">
                <h1 class="neon" data-text="Angular" contenteditable>Angular</h1>
                <div class="gradient"></div>
                <div class="spotlight"></div>
            </div>
            <span class="title start">{{'main-about__developer' | translate}}</span>
            <div class="subtitle">{{"main-about__subtitle" | translate}}</div>
            <div class="links">
                <a href="https://www.linkedin.com/in/vladislav-tserkovnyi-84a45028a/">
                    <img class="icon" src="./assets/images/linkedin.png" alt="linkedin">
                </a>
                <a href="https://github.com/Vladislav1402">
                    <img class="icon" src="./assets/images/github.png" alt="linkedin">
                </a>
                <a href="https://www.codewars.com/users/Vladislav1402">
                    <img class="codewars-icon" src="./assets/images/codewars.png" alt="linkedin">
                </a>
            </div>

        </div>

        <img class="photo" src="./assets/images/изображение_viber_2023-08-07_23-23-33-145.jpg" alt="my-avatar">
    </div>

    <div class="tech-stack">
        <span class="tech-stack__title">Tech Stack</span>
        <span>|</span>
        <div class="tech-stack__icons">
            <img class="tech-stack__icon" src="./assets/images/html.png" alt="">
            <img class="tech-stack__icon" src="./assets/images/css.png" alt="">
            <img class="tech-stack__icon" src="./assets/images/js.png" alt="">
            <img class="tech-stack__icon angular" src="./assets/images/angular-icon.png" alt="">
            <img class="tech-stack__icon" src="./assets/images/scss.png" alt="">
            <img class="tech-stack__icon" src="./assets/images/bootstrap.png" alt="">
            <img class="tech-stack__icon" src="./assets/images/rxjs.svg" alt="">
        </div>
    </div>
</div>
