<div class="wrapper">
    <main class="main">
        
       <app-breadcrumbs></app-breadcrumbs>

        <section class="blog">
            <div class="container">
                <div class="blog__inner">
                    <div class="blog__body">
                        <img class="blog__body-img" src="assets/images/4page/jpg/Mask.jpg">
                        <div class="blog__links">
                            <a class="blog__link" >August 15, 2020 </a>|
                            <a class="blog__link" >by Ann Summers</a> |
                            <a class="blog__link" >Bedroom Furniture</a>
                        </div>
                        <h2 class="blog__body-title title">Red selfies edison bulb four dollar toast humblebrag for
                            the furniture</h2>
                        <div class="blog__body-text">
                            <p>Everyday carry actually neutra authentic kogi shabby chic migas small batch craft beer. Literally williamsburg tote bag farm-to-table mustache ugh deep v irony. Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table.
                                Yuccie portland kickstarter, readymade ramps humblebrag ennui banjo mumblecore vaporware pickled cray stumptown 8-bit mlkshk. Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche. Tousled yr williamsburg austin edison bulb cloud bread vegan street art. Locavore food truck trust fund palo santo asymmetrical, franzen deep v marfa kogi whatever swag pop-up seitan. </p>
                        </div>
                        <div class="blog-page__quote">
                            <div class="blog-page__quote-text">“Simplicity is not the goal. It is the by-product of a good
                                idea and modest expectations” </div>
                            <div class="blog-page__quote-title title">Paul Rand</div>
                        </div>
                        <p class="blog-page__text">Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table.
                            Yuccie portland kickstarter, readymade ramps humblebrag ennui banjo mumblecore vaporware pickled cray stumptown 8-bit mlkshk. Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche. Tousled yr williamsburg austin edison bulb cloud bread vegan street art. Locavore food truck trust fund palo santo asymmetrical, franzen deep v marfa kogi whatever swag pop-up seitan.</p>
                        <div class="blog__tags tags">
                            <h6 class="tags__title title">Tags</h6>
                            <div class="tags__links">
                                <a class="tags__link" href=" ">Bedroom furniture</a>
                                <a class="tags__link" href=" ">Office furniture</a>
                                <a class="tags__link" href=" ">Dining room futniture</a>
                                <a class="tags__link" href=" ">Chair</a>

                            </div>
                        </div>
                        <div class="blog-page__slider page__slider">
                            <div class="page__slider swiper">

                                <div class="page__wrapper swiper-wrapper">

                                    <div class="page__slide swiper-slide">
                                        <div class="page__slide-content">

                                            <p class="page__slide-text-one">Cred selfies edison bulb four dollar toast humblebrag</p>
                                            <p class="page__slide-text-two">Semiotics fixie four dollar toast, next level</p>

                                        </div>
                                    </div>
                                    <div class="page__slide swiper-slide">
                                        <div class="page__slide-content">

                                            <p class="page__slide-text-one">Cred selfies edison bulb four dollar toast humblebrag</p>
                                            <p class="page__slide-text-two">Semiotics fixie four dollar toast, next level</p>

                                        </div>
                                    </div>
                                    <div class="page__slide swiper-slide">
                                        <div class="page__slide-content">

                                            <p class="page__slide-text-one">Cred selfies edison bulb four dollar toast humblebrag</p>
                                            <p class="page__slide-text-two">Semiotics fixie four dollar toast, next level</p>

                                        </div>
                                    </div>

                                </div>
                                <div class="page-button-prev" (click)="slidePrev()"><img src="assets/images/5page/svg/arrow-next.svg" alt=""></div>
                                <div class="page-button-next" (click)="slideNext()"><img src="assets/images/5page/svg/arrow-prev.svg" alt=""></div>
                            </div>
                        </div>

                        <div class="blog__page-comments page-comments">
                            <h6 class="page-comments__title title">Comments:</h6>
                            <div class="page-comments__body">
                                <div class="page-comments__reply">
                                    <div class="page-comments__name title">Lea Brown</div>
                                    <p>Reply</p>
                                </div>
                                <div class="page-comments__date">August 12, 2020</div>
                                <div class="page-comments__text">Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche</div>
                            </div>
                            <div class="page-comments__post post">
                                <h6 class="post__title title">Post a Comment</h6>
                                <form action="" class="post__form forms">
                                    <textarea type="text" placeholder="Your comment" class="forms__comment"></textarea>
                                    <input type="text" placeholder="Your name" class="forms__name">
                                    <input type="text" placeholder="Your e-mail" class="forms__mail">
                                    <label class="forms__label">
                                        <input class="forms__check" type="checkbox">
                                        Remember me
                                    </label>
                                    <button class="forms__btn">Submit</button>
                                </form>


                            </div>
                        </div>

                    </div>

                    <aside class="blog__side-menu">
                        <form action="" class="side-menu__form">
                            <input class="menu__form-input" type="text" placeholder="Search">
                            <button class="menu__form-btn"><img src="assets/images/4page/svg/Shape.svg" alt=""></button>
                        </form>
                        <div class="blog__categories categories">
                            <h6 class="categories__title title">Categories</h6>
                            <ul class="categories__items">
                                <li class="categories__item">
                                    <a href="" class="categories__link">Dining room (1)</a>
                                </li>
                                <li class="categories__item">
                                    <a href="" class="categories__link">Office furniture (12)</a>
                                </li>
                                <li class="categories__item">
                                    <a href="" class="categories__link">Simple interiror design (2)</a>
                                </li>
                                <li class="categories__item">
                                    <a href="" class="categories__link">Design (4)</a>
                                </li>
                                <li class="categories__item">
                                    <a href="" class="categories__link">Bedroom Furniture (1)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="blog__recent recent">
                            <h6 class="recent__title title">Recent Posts</h6>
                            <div class="recent__items">
                                <div class="recent__item">
                                    <p>Cred selfies edison bulb four dollar toast humblebrag</p>
                                </div>
                                <div class="recent__item">
                                    <a href="" class="recent__link ">August 10, 2020 </a>|
                                    <a class="recent__link " href="">by Ann Summers</a>
                                </div>
                            </div>
                            <div class="recent__items">
                                <div class="recent__item">Semiotics fixie four dollar toast, next level woke
                                    scenester direct trade photo booth</div>
                                <div class="recent__item">
                                    <a href="" class="recent__link ">September 30 ,2020 </a>|
                                    <a class="recent__link " href="">by Ann Summers</a>
                                </div>
                            </div>
                            <div class="recent__items">
                                <div class="recent__item">Cred selfies edison bulb four dollar toast humblebrag
                                </div>
                                <div class="recent__item">
                                    <a href="" class="recent__link ">May 2, 2020 </a>|
                                    <a class="recent__link " href="">by Ann Summers</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog__tags tags">
                            <h6 class="tags__title title">Tags</h6>
                            <div class="tags__links">
                                <a class="tags__link" href=" ">Dining room futniture</a>
                                <a class="tags__link" href=" ">Chair</a>
                                <a class="tags__link" href=" ">Table</a>
                                <a class="tags__link" href=" ">Bedroom</a>
                                <a class="tags__link" href=" ">Office Furniture</a>
                            </div>
                        </div>
                        <div class="blog__social social">
                            <a href="" class="social__link"><img src="assets/images/4page/svg/Facebook.svg" alt=""
                                    class="link__img"></a>
                            <a href="" class="social__link"><img src="assets/images/4page/svg/Instagram.svg" alt=""
                                    class="link__img"></a>
                            <a href="" class="social__link"><img src="assets/images/4page/svg/Pinterest.svg" alt=""
                                    class="link__img"></a>
                            <a href="" class="social__link"><img src="assets/images/4page/svg/Twitter.svg" alt=""
                                    class="link__img"></a>
                            <a href="" class="social__link"><img src="assets/images/4page/svg/Whatsapp.svg" alt=""
                                    class="link__img"></a>
                        </div>


                    </aside>
                </div>
            </div>
        </section>

    </main>
</div>