<!-- <div class="container__big"> -->
    <section class="about-us">
      
            <app-breadcrumbs></app-breadcrumbs>     

            <div class="about-us__titleimg">

                <div class="about-us__image">
                    <img src="/assets/images/2 page/jpg/placeholder.jpg" alt="">
                </div>
                <h2 class="about-us__title title">About us</h2>

            </div>

        <div class="container">
            <div class="about-us__body">
                <div class="about-us__subtitle title">Balance in the simple through an informed marriage of
                    design, functional and craft</div>
                <div class="about-us__text">
                    <p>Vexillologist vape microdosing freegan pork belly deep v direct trade cray single-origin
                        coffee street art. Viral shaman mustache master cleanse, pour-over affogato poutine
                        copper mug marfa fanny pack normcore. Lo-fi pop-up banjo portland, echo park hammock
                        chillwave literally post-ironic ramps subway tile kitsch. Shaman tumblr fixie echo park
                        street art. Enamel pin vaporware wayfarers, organic succulents hella sustainable
                        cardigan.</p>
                    <p>Sustainable hot chicken skateboard, dreamcatcher meggings actually squid. Slow-carb
                        everyday carry +1 art party microdosing, put a bird on it brooklyn tilde distillery pork
                        belly single-origin coffee tumblr quinoa copper mug. Affogato cold-pressed unicorn,
                        viral intelligentsia leggings raw denim kombucha tote bag messenger bag chambray vape
                        coloring book scenester. Activated charcoal wayfarers church-key tote bag synth brunch.
                        Retro cornhole</p>
                </div>
            </div>
        </div>
    </section>
    <section class="video">
        <div class="container__big">
         
            <div class="video__body">
                @if(popupIsOpened) {
                    <div class="video-iframe">
                        <button (click)="popupIsOpened = false" class="video-close">X</button>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Iz6i7OXZRsU" frameborder="0" allowfullscreen></iframe>
                    </div>
                    }
                    @if(!popupIsOpened){
                        <button (click)="popupIsOpened = true" class="video-button"><img
                            src="assets/images/2 page/svg/play_button.svg" alt=""></button>
                    }

                <div class="videoy-image">
                    <img src="assets/images/2 page/jpg/Popup-img.jpg" alt="">
                </div>
            </div>

        </div>
    </section>
    <section class="inspiration">
        <div class="container__big">
            <div class="inspiration__inner">
                <div class="inspiration__image">
                    <img src="assets/images/2 page/png/Green_chair.png" alt="">
                </div>

                <div class="inspiration__body">
                    <h2 class="inspiration__body-title title">Our Inspiration in details</h2>
                    <div class="inspiration__body-text">
                        <p>Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth helvetica jean shorts. Fanny pack church-key cornhole, banh mi thundercats gochujang keytar.</p>
                    </div>
                    <div class="inspiration__body-scale">
                        <ul class="inspiration__scale-items">
                            <li class="inspiration__scale-item">
                                <div class="scale-item__content title">
                                    <div class="scale-item__text">Design and technical drawings</div>
                                    <div class="scale-item__num">80%</div>
                                </div>
                                <div class="scale-item__line" style="width: 80%;"></div>
                            </li>
                            <li class="inspiration__scale-item">
                                <div class="scale-item__content title">
                                    <div class="scale-item__text">Measurments</div>
                                    <div class="scale-item__num">70%</div>
                                </div>
                                <div class="scale-item__line "></div>
                            </li>
                            <li class="inspiration__scale-item ">
                                <div class="scale-item__content title">
                                    <div class="scale-item__text">Furniture functionality analysis</div>
                                    <div class="scale-item__num">75%</div>
                                </div>
                                <div class="scale-item__line" style="width: 75%;"></div>
                            </li>

                            <li class="inspiration__scale-item">
                                <div class="scale-item__content title">
                                    <div class="scale-item__text">Interior visualization</div>
                                    <div class="scale-item__num">40%</div>
                                </div>
                                <div class="scale-item__line" style="width: 40%;"></div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <div class="partners">
        <div class="container__big">
            <div class="partners__inner">
                <img src="assets/images/2 page/svg/Object.svg" alt="" class="partners__image">
                <img src="assets/images/2 page/svg/Object (1).svg" alt="" class="partners__image">
                <img src="assets/images/2 page/svg/Object.svg" alt="" class="partners__image">
                <img src="assets/images/2 page/svg/Object (1).svg" alt="" class="partners__image">
                <img src="assets/images/2 page/svg/Object.svg" alt="" class="partners__image">
            </div>
        </div>
    </div>
    <section class="collection-new">
        <div class="container__big">

            <div class="collection-new__items page-two">
                <div class="collection-new__item">
                    <img src="assets/images/2 page/jpg/gallery1.jpg" alt="" class="collection-new__image">
                    <div class="collectin-new__info info__new">
                        <div class="info__new-titel title">Truffaut literally trust</div>
                        <div class="info__new-text">Living room furntiture | Chair</div>
                    </div>

                </div>
                <div class="collection-new__item">
                    <img src="assets/images/2 page/jpg/gallery2.jpg" alt="" class="collection-new__image">
                    <div class="collectin-new__info info__new">
                        <div class="info__new-titel title">Truffaut literally trust</div>
                        <div class="info__new-text">Living room furntiture | Chair</div>
                    </div>

                </div>

                <div class="collection-new__item">
                    <img src="assets/images/2 page/jpg/gallery3.jpg" alt="" class="collection-new__image">
                    <div class="collectin-new__info info__new">
                        <div class="info__new-titel title">Truffaut literally trust</div>
                        <div class="info__new-text">Living room furntiture | Chair</div>
                    </div>

                </div>
                <div class="collection-new__item">
                    <img src="assets/images/2 page/jpg/gallery4.jpg" alt="" class="collection-new__image">
                    <div class="collectin-new__info info__new">
                        <div class="info__new-titel title">Truffaut literally trust</div>
                        <div class="info__new-text">Living room furntiture | Chair</div>
                    </div>

                </div>
                <div class="collection-new__item">
                    <img src="assets/images/2 page/jpg/gallery5.jpg" alt="" class="collection-new__image">
                    <div class="collectin-new__info info__new">
                        <div class="info__new-titel title">Truffaut literally trust</div>
                        <div class="info__new-text">Living room furntiture | Chair</div>
                    </div>

                </div>

            </div>
        </div>
    </section>
<!-- </div> -->