:host {
    .filter {
        margin-left: 40px;
        input {
            width: 150px;
            margin-top: 3px;
            height: 30px;
            padding: 10px 5px;
            border-radius: 3px;
            border: 2px solid gray;
            font-family: Aeonik-Regular;
        }
        
    }
   
}